<div class="form-container">
  <form [formGroup]="formGroup">
    <div>
      <label for="username">帳號:</label>
      <input
        id="username"
        formControlName="username"
        type="text"
        [ngClass]="{ 'input-error': formControlInvalid('username') }"
      />
      <small *ngIf="formControlInvalid('username')" class="error">
        {{ showErrorMessage('username') }}
      </small>
    </div>
    <div>
      <label for="password">密碼:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        [ngClass]="{ 'input-error': formControlInvalid('password') }"
      />
      <small *ngIf="formControlInvalid('password')" class="error">
        {{ showErrorMessage('password') }}
      </small>
    </div>
    <div class="button-container">
      <button type="submit" (click)="onLogin()">登入</button>
    </div>
  </form>
</div>
